<div id="main" class="bg-gray-200 flex flex-col justify-center items-center">
  <div>
    <h1 class=" font-light text-3xl mt-4">Modify Project</h1>
  </div>

  {{#if isLoggedIn}}
    <form action="/projects/update/{{project.pID}}" method="post">
      <fieldset>
        <label for="pTitle">Project Title:</label>
        <input
          type="text"
          name="pTitle"
          id="pTitle"
          value="{{project.pTitle}}"
          required="required"
          class="m-2 rounded-lg p-1"
        />
        <br />
        <textarea
          name="pIntro"
          id="pIntro"
          cols="30"
          rows="10"
          required="required"
          placeholder="Project Intro..."
          value="{{project.pIntro}}"
          class="m-2 rounded-lg p-1"
        >{{project.pIntro}}</textarea>
        <br />
        <textarea
          name="pDesc"
          id="pDesc"
          cols="30"
          rows="10"
          required="required"
          placeholder="Project Description..."
          value="{{project.pDesc}}"
          class="m-2 rounded-lg p-1"
        >{{project.pDesc}}</textarea>
        <br />
        <label for="">Image URL:</label>
        <input
          type="text"
          name="pImageURL"
          id="pImageURL"
          placeholder="/img/image.png"
          required="required"
          value="{{project.pImageURL}}"
          class="m-2 rounded-lg p-1"
        />
        <br />
        <label for="">GitHub URL:</label>
        <input
          type="text"
          name="pGitHubURL"
          id="pGitHubURL"
          placeholder="https://github.com/user/project"
          value="{{project.pGitHubURL}}"
          class="m-2 rounded-lg p-1"
        />
        <br />
        <label for="">Technologies:</label>
        <input
          type="text"
          name="pTech"
          id="pTech"
          placeholder="HTML, CSS, JavaScript..."
          required="required"
          value="{{project.pTech}}"
          class="m-2 rounded-lg p-1"
        />
        <br />
        <label for="pCat">Category:</label>
        <select name="pCat" id="pCat" required="required" class="m-2 rounded-lg p-1">
          <option
            value="Front-end"
            {{#if (theCatFE project.pCat)}}
            selected="selected"
            {{/if}}
          >Front-end</option>
          <option
            value="Full-stack"
            {{#if (theCatFS project.pCat)}}
            selected="selected"
            {{/if}}
          >Full-stack</option>
          <option
            value="Game dev"
            {{#if (theCatGD project.pCat)}}
            selected="selected"
             {{/if}}
          >Game dev</option>
          <option
            value="Practice"
            {{#if (theCatP project.pCat)}}
            selected="selected"
            {{/if}}
          >Practice</option>
          <option
            value="App dev"
            {{#if (theCatAD project.pCat)}}
            selected="selected"
            {{/if}}
          >App dev</option>
        </select>
        <br />
        <label for="">Creator:</label>
        <input
          type="text"
          name="pUser"
          id="pUser"
          required="required"
          value="{{project.pUser}}"
          class="m-2 rounded-lg p-1"
        />
      </fieldset>
      <input type="submit" value="Edit Project" class="m-2 p-2 ml-20 bg-blue-500 text-white rounded-lg"/>
    </form>
  {{else}}
    <p>You have to be logged in to modify projects...</p>
  {{/if}}
</div>