<body class="bg-zinc-900">
  <!-- Header -->
  <header class="text-white p-4">
    <div class="container mx-auto flex justify-center">
      <h1 class="text-2xl font-semibold">Project Management Dashboard</h1>

    </div>
    <div class="container mx-auto flex justify-center">
      <a class="bg-blue-500 text-white p-1 rounded" href="/project/new">
        New Project
      </a>
      {{#if isAdmin}}
        <a class="bg-blue-500 text-white p-1 rounded" href="/user-dashboard">
          User Dashboard
        </a>
      {{/if}}
    </div>
  </header>

  <!-- Main Content -->
  <div class="container mx-auto mt-8 p-4">
    <div class="bg-black text-white p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-semibold mb-4">Projects List</h2>

      <!-- User Table -->
      <table class="w-full border-collapse border">
        <thead>
          <tr class="text-white">
            <th class="p-2 border">ID</th>
            <th class="p-2 border">Title</th>
            <th class="p-2 border">Intro</th>
            <th class="p-2 border">Description</th>
            <th class="p-2 border">Image URL</th>
            <th class="p-2 border">GitHub URL</th>
            <th class="p-2 border">Technologies</th>
            <th class="p-2 border">Categories</th>
            <th class="p-2 border">User</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sample User Row (Replace with dynamic data) -->
          {{#each projects}}
            <tr class="text-white">
              <td class="p-2 border">{{pID}}</td>
              <td class="p-2 border">{{pTitle}}</td>
              <td class="p-2 border">{{pIntro}}</td>
              <td class="p-2 border">{{pDesc}}</td>
              <td class="p-2 border">{{pImageURL}}</td>
              <td class="p-2 border">{{pGitHubURL}}</td>
              <td class="p-2 border">{{pTech}}</td>
              <td class="p-2 border">{{pCat}}</td>
              <td class="p-2 border">{{pUser}}</td>
              <td class="p-2 border">
                <a
                  class="bg-blue-500 text-white px-2 py-1 rounded"
                  href="/projects/update/{{pID}}"
                >
                  Edit
                </a>
                <a
                  class="bg-red-500 text-white px-2 py-1 rounded"
                  href="/projects/delete/{{pID}}"
                >
                  Delete
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-white p-4 mt-8">
    <div class="container mx-auto text-center">
      &copy; 2023 Project Management Dashboard
    </div>
  </footer>
</body>