{{!-- <div id="main">
  <div class="container mx-auto p-8 flex flex-col items-center">
    <h1 class="text-white font-light text-9xl mix-blend-exclusion mt-12">My
      Projects</h1>
    <div class="">
      {{#if dbError}}
        <div class="text-white font-light text-2xl w-80 text-left ml-6 mt-4">
          Sorry, there was a problem with the database:<br />
          {{theError}}
        </div>
      {{else}}
        {{#each projects}}
          <div
            class="project blue-box-shadow w-96 h-96 m-5 rounded-3xl bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10"
          >
            <img
              src="{{pImageURL}}"
              alt="{{pTitle}}"
              class="w-full h-48 object-cover rounded-t-3xl"
            />
            <div class="p-4">
              <h2
                class="text-white font-light text-2xl w-80 text-left ml-6 mt-4"
              >{{pTitle}}</h2>
              <p
                class="text-gray-500 text-left ml-6 mt-2 w-80 text-sm"
              >{{pIntro}}</p>
              <p class="text-gray-500 text-left ml-6 mt-2 w-80">{{pCat}}</p>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div> --}}

<div id="main">
  <div class="container mx-auto p-8 flex flex-col items-center">
    <h1 class="text-white font-light text-9xl mix-blend-exclusion mt-12">My
      Projects</h1>
    <div class="grid grid-cols-3 gap-2 sm:grid-cols-2">
      {{#if dbError}}
        <div class="text-white font-light text-2xl w-80 text-left ml-6 mt-4">
          Sorry, there was a problem with the database:<br />
          {{theError}}
        </div>
      {{else}}
        {{#each projects}}
          <a
            href="/project/{{pID}}"
            class="project blue-box-shadow h-96 w-96 m-5 rounded-3xl bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10"
          >
            <img
              src="{{pImageURL}}"
              alt="{{pTitle}}"
              class="w-full h-48 object-cover rounded-t-3xl"
            />
            <div class="p-4">
              <h2
                class="text-white font-light text-2xl w-80 text-left ml-6 mt-4"
              >{{pTitle}}</h2>
              <p
                class="text-gray-500 text-left ml-6 mt-2 w-80 text-sm"
              >{{pIntro}}</p>
              <p class="text-gray-500 text-left ml-6 mt-2 w-80">{{pTech}}</p>
            </div>
          </a>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>