<div id="main">
  <div class="w-screen p-8 flex flex-col items-center">
    <h1
      class="text-white font-light text-9xl mix-blend-exclusion mt-12 md-title"
    >My Projects</h1>
    <p
      class="text-white font-light text-xl w-80 text-center mt-5 mb-5 md-p"
    >Here, you can explore a variety of my work, including web applications,
      software, and creative projects.</p>
    <div class="flex flex-row flex-wrap justify-center w-screen">
      {{#if dbError}}
        <div
          class="text-white font-light text-2xl w-80 text-left ml-6 mt-4 md-p"
        >
          Sorry, there was a problem with the database:<br />
          {{theError}}
        </div>
      {{else}}
        {{#each projects}}
          <a
            href="/specific-project/{{pID}}"
            class="project blue-box-shadow h-96 w-96 m-5 rounded-3xl bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10 md-w-proj md-h-full-proj"
          >
            <img
              src="{{pImageURL}}"
              alt="{{pTitle}}"
              class="w-full h-48 object-cover rounded-t-3xl"
            />
            <div class="p-4">
              <h2
                class="text-white font-light text-2xl w-80 text-left ml-6 mt-4 md-text-w-proj"
              >{{pTitle}}</h2>
              <p
                class="text-gray-500 text-left ml-6 mt-2 w-80 text-sm md-text-w-proj"
              >{{pIntro}}</p>
              <p
                class="text-gray-500 text-left ml-6 mt-2 w-80 md-text-w-proj"
              >{{pTech}}</p>
            </div>
          </a>
        {{/each}}
      {{/if}}
    </div>
    <div class="flex items-center justify-center space-x-4 mb-16 mt-14">
      {{#if showPrev}}
        <a
          href="/projects?page={{prevPage}}"
          class="px-4 py-2 text-white bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10 p-2 rounded-xl opacity-70"
        >
          Previous
        </a>
      {{/if}}

      {{#each pages}}
        <a
          href="/projects?page={{this}}"
          class="px-4 py-2 text-white bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10 p-2 rounded-xl w-10 text-center opacity-70"
        >{{this}}</a>
      {{/each}}

      {{#if showNext}}
        <a
          href="/projects?page={{nextPage}}"
          class="px-4 py-2 text-white bg-zinc-900 border border-solid border-gray-700 hover:bg-zinc-800 hover:border-gray-400 hover:cursor-pointer transition ease-in-out delay-10 p-2 rounded-xl opacity-70"
        >
          Next
        </a>
      {{/if}}
    </div>

  </div>
</div>